
git
numpy
matplotlib
pandas 
keras 
h5py 
tqdm
tensorflow
tensorflow-datasets
tensorflow-addons
scipy
scikit-learn
notebook
seaborn
pywavelets
tabulate
xgboost
scikit-learn 
imbalanced-learn 
allantools
ace_tools